<!-- app/templates/base.html -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Maya project</title>
</head>

<body>
<ul class="nav navbar-nav navbar-right">
    {% if current_user.is_authenticated %}
    <li><a href="{{ url_for('auth.change_password') }}">Change password</a></li>
    <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
    {% else %}
    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
    {% endif %}
</ul>

{% block body %}
{% endblock %}

</body>
</html>
